<div class="h-card mf-card" style="display:none;">
	<% if !@profiles.nil? %>
	  	<%= render @profiles %>
  	<% else %>
  		<%= image_tag(@article.icon, class: "u-photo") %>
 	<% end %>
 	
	<a class="p-name u-url u-uid p-author" rel="author" href="https://girlonthemoon.xyz/">kat</a> <span aria-hidden="true">|</span> 
	<address>
		<a class="u-email" href="mailto:witnesslachesis@disroot.org?subject=hi%20from%20bubblegum!">contact</a>
	</address>
	<p class="p-note">
		a girl on the moon. <span class="p-pronouns"><span class="p-pronoun-nominative">she</span>/<span class="p-pronoun-oblique">her</span></span> pronouns. based in the <span class="p-country-name">united states</span>. occasional blogger.
	</p>
</div>
