<nav>
	<ul class="navbar-list">
		<li>
			<%= link_to "home", articles_path %>
		</li>
		<li>
			<a href="/profiles/1">about</a>
		</li>
		<li>
			<%= link_to "tags", tags_path %>
		</li>
	</ul>
</nav>
