<div class="main">

<h1><%= render @tag %></h1>

<p>
<%= link_to "edit", edit_tag_path(@tag) %> |
  <% if user_signed_in? %>
    <%= link_to "delete", @tag, method: :delete %>
  <% else %>
    <%= link_to "back", tags_path %>
  <% end %>
</p>

</div>
