<div id="<%= dom_id gallery %>">
  <p>
    <strong>Name:</strong>
    <%= gallery.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gallery.user_id %>
  </p>

</div>
